/* Contenedor principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94vh;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
}

/* Caja de contenido con fondo claro */
.contentBox {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

/* Títulos */
.title {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333333;
}

/* Listas elegantes para miembros */
.ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.li {
  background: #f9f9f9;
  color:#000000;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.li:hover {
  background-color: #ecf0f1;
}

/* Botón para colaborar */
.buttonCollaborate {
  background-color: #4caf50;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.buttonCollaborate:hover {
  background-color: #45a049;
  transform: translateY(-2px); /* Efecto de elevación */
}

.buttonCollaborate:active {
  background-color: #388e3c; /* Color más oscuro al hacer clic */
}
